@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ab9883;
}

#hero {
  height: 100vh;
  width: 100%;
  overflow: hidden ;
}

.hero-box {
  position: static;
}

.main {
  position: relative;
  height: 100vh;
}
.back-img {
  position: absolute;
  bottom: 0;
}

header {
  position: absolute;
  top: 0;
}

.shl-4 {
  
  bottom: -50px;
}
.sh-4 {
  opacity: 0.7;
}
.sh-3 {
  opacity: 0.6;
}
.sh-2 {
  opacity: 0.5;
}.sh-1 {
  opacity: 0.4;

}

.ship-lights {
  opacity: 0.5;
  filter: blur(10px);
}
.ship-lights-cont {
  animation: shiplightat 0.08s infinite linear;
}

.main p
{
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 40px;
  text-transform: capitalize;
  color: aliceblue;
}
.main h1
{
  font-size: 10rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: aliceblue;
  line-height: 1.4;
  color: #463525;
  

}
.hero-text
{
    transform: translateY(400px);
}

header
{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.header-logo
{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 5px;
  color: aliceblue;
  margin-left: 50px;
}
.nav-item
{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: aliceblue;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}                                                    
.nav-item::before
{
    content:'';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
    box-shadow: 0 0 10px white;
}
.nav-item:hover::before
{
    transform: scaleX(1);
}
.nav-item:hover
{
    text-shadow: 0 0 10px white;
}

.hero-foot
{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.social-section
{
    height: 50px;
    font-size: 1.5rem;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.social-section i
{
    padding: 5px;
    border: 2px solid white;
    gap: 50px;  
    cursor: pointer;
    transition: 0.3s;
        
}
.social-section i:hover
{
    color: #ab9883;
    border-radius: 50%;
    box-shadow: 5px -5px 45px  burlywood;

}
a{
    color: inherit;
}
